
.fat-nav__wrapper ul li.gnav-sp,
ul#footer-bn,
#content-area,
#content-area2,
.wrapper,
#gnav ul,
#gnav ul div,
#header-nav-area,
#header-nav-area ul,
.breadcrumb ul,
ul.list-anchor,
div.pattern1-1,
div.pattern1-2,
div.pattern2-1,
div.pattern2-3,
div.pattern3-2,
div.pattern1-1-1,
div.pattern1-1-1-1,
div.pattern1-1-1-1-1,
div.pattern3-1,
div.pattern1-3,
div#footer-nav,
div#footer-nav ul,
.category-link,
.category-link-img,
ul.link-anchor,
ul.related-link,
.form-send-area,
#side-bn,
#home-recruit #recruit-list,
#home-recruit #recruit-bn {
	/zoom: 1;
}

.fat-nav__wrapper ul li.gnav-sp:after,
#content-area:after,
#content-area2:after,
.wrapper:after,
#gnav ul:after,
#gnav ul div:after,
#header-nav-area:after,
#header-nav-area ul:after,
.breadcrumb ul:after,
ul.list-anchor:after,
div.pattern1-1:after,
div.pattern1-2:after,
div.pattern2-1:after,
div.pattern2-3:after,
div.pattern3-2:after,
div.pattern1-1-1:after,
div.pattern1-1-1-1:after,
div.pattern1-1-1-1-1:after,
div.pattern3-1:after,
div.pattern1-3:after,
div#footer-nav:after,
div#footer-nav ul:after,
.category-link:after,
.category-link-img:after,
ul.link-anchor:after,
ul.related-link:after,
.form-send-area:after,
#side-bn:after,
#home-recruit #recruit-list:after,
#home-recruit #recruit-bn:after ,
ul#footer-bn:after{
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
	overflow: hidden;
}