@charset "UTF-8" /* 中部眼科-文字基本サイズ 16px */

/* @group 初期設定 */

html {
 color: #262626;
}
body {
	font-family: Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	font-size: 1em;
	-webkit-text-size-adjust: 100%;
	position: relative;
	min-width: 1048px;
	color: #262626;
}
ul ol,
ol ul {
	font-size: 1em !important;
}
ul {
	list-style: none;
}
sup {
	vertical-align: top;
	font-size: 0.77em;
}
img {
	vertical-align: bottom;
}
label {
	cursor: pointer;
}
a {
	color: #1967AD;/*	display: block;田中*/
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.clear {
	clear: both;
}
a[href^="tel:"] {
	cursor: default;
	text-decoration: none;
	color: #333 !important;
	display: inline-block;
}
.float-r {
	float: right
}
.inner {  /*余白調整*/
	margin-bottom: 5em; /*田中*/
}
.current {
    background-color: rgba(73,73,73,0.14);
    border: 4px solid rgba(73,73,73,0)!important;
}

/* @group symbol-icon */
@font-face {
	font-family: 'font-library';
	src: url('../fonts/font-library.ttf?iftez1') format('truetype'), url('../fonts/font-library.woff?iftez1') format('woff'), url('../fonts/font-library.svg?iftez1#font-library') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* @end */

/* margin */
.mb-0 {
	margin-bottom: 0px !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
.mb-15 {
	margin-bottom: 15px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-25 {
	margin-bottom: 25px !important;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-35 {
	margin-bottom: 35px !important;
}
.mb-40 {
	margin-bottom: 35px !important;
}
.mb-45 {
	margin-bottom: 45px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-55 {
	margin-bottom: 55px !important;
}
.mb-60 {
	margin-bottom: 60px !important;
}
.mb-70 {
	margin-bottom: 70px !important;
}
.ml-0 {
	margin-left: 0px !important;
}
.ml-10 {
	margin-left: 10px !important;
}
.ml-15 {
	margin-left: 15px !important;
}
.ml-20 {
	margin-left: 20px !important;
}
.ml-25 {
	margin-left: 25px !important;
}
.ml-30 {
	margin-left: 30px !important;
}
.ml-35 {
	margin-left: 35px !important;
}
.mr-0 {
	margin-right: 0px !important;
}
.mr-10 {
	margin-right: 10px !important;
}
.mr-15 {
	margin-right: 15px !important;
}
.mr-20 {
	margin-right: 20px !important;
}
.mr-25 {
	margin-right: 25px !important;
}
.mr-30 {
	margin-right: 30px !important;
}
.mr-35 {
	margin-right: 35px !important;
}
.mt-0 {
	margin-top: 0px !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-15 {
	margin-top: 15px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-25 {
	margin-top: 25px !important;
}
.mt-30 {
	margin-top: 30px !important;
}
.mt-35 {
	margin-top: 35px !important;
}
/* @end */

/* @group header */
#header-area {
	width: 100%;
}
#header {
	width: 65.5em;
	margin: 0 auto;
	padding: 3.6em;
	height: 6.875em;
	position: relative;
}
#header-logo-area {
	position: absolute;
	top: 1.875em;
	left: 1.5em;
	font-style: normal;
	line-height: 1.6;
	margin-bottom: 10px;
	font-size: 0.813em;
	float: left;
	width: 100%;
}
#header-logo {
	float: left;
	width: 22%;
}
#header-logo a img {
	width: 100%;
}
p#header-copy {
	display: inline-block;
	margin-left: 2em;
	font-size: 0.94em;
	top: 3em;
	padding: 0.5em;
	color: #333;
}
div#header-nav-area {
	position: absolute;
	top: 1.5em;
	right: 0em;
}
#header-nav-area .nav-tell {
	margin-bottom: 1em;
}
#header-nav-area .nav-tell address {
	display: flex;
}
#header-nav-area .nav-tell address a {
	font-family: "Futura";
	font-size: 2em;
	font-style: normal;
	color: #1967AD !important;
	letter-spacing: 2px;
}
#header-nav-area .nav-tell address img {
	vertical-align: bottom;
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	margin-right: .5em;
	top: .55em;
	left: -1.5em;
}
#header-nav-area .nav-info {
	font-size: 0.9em;
	display: flex;
	justify-content: space-between;
}
#header-nav-area .nav-info a {
	margin-right: 2.4em;
	position: relative;
	text-decoration: none;
	color: #333;
}
#header-nav-area .nav-info a::before {
	display: block;
	content: '';
	position: absolute;
	top: 3px;
	left: -15px;
	width: 5px;
	height: 5px;
	border-right: 2px solid #333333;
	border-bottom: 2px solid #333333;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#header-nav-area .nav-info a:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7 !important;
}
#header-nav-area .nav-info a:last-child {
	margin-right: 0;
}
/* @end */


/* @group content-area */
div#content-area {
	width: 100%;
	background: #fff;
}
/* @end */


/* @group gnav */
#gnav {
	width: 100%;
	position: relative;
}
#gnav p#toggle-nav {
	display: none;
}
#gnav .dropmenu {
 *zoom: 1;
	list-style-type: none;
	width: 65.5em;
	margin: 0 auto;
	padding: 0 1.5em;
}
#gnav .dropmenu:before,
.dropmenu:after {
	content: "";
	display: table;
}
#gnav .dropmenu:after {
	clear: both;
}
#gnav .dropmenu li {
	float: left;
	width: 25%;
	display: table;
	position: relative;
}
#gnav .dropmenu li a {
	font-size: 1.2em;
	text-decoration: none;
	display: table-cell;
	text-align: center;
	height: 50px;
	vertical-align: middle;
	color: #1967AD;
	padding: 5px;
	padding-bottom: 1.6em;
}
#gnav .dropmenu li ul {
	list-style: none;
	position: absolute;
	z-index: 9999;
	top: 54px;
	left: 0;
	margin: 0;
	padding: 0;
}
#gnav .dropmenu li ul li {
	width: 100%;
}
#gnav .dropmenu li ul li a {
	padding: 13px 15px;
	background: #fff;
	text-align: left;
}
#gnav .dropmenu li a span:hover {
	border-bottom: 2px solid #1967AD;
	padding-bottom: 7px;
}
#gnav .dropmenu li a span:visited {
	border-bottom: 1px solid #1967AD;
}
#gnav .dropmenu li ul li a:hover {
	background-color: #E5E5E5;
}
#gnav #fade-in li ul {
	visibility: hidden;
	width: 15em;
	opacity: 0;
	transition: 0s;
	border: 1px solid #1967AD;
}
#gnav #fade-in li:hover ul {
	visibility: visible;
	opacity: 1;
}
#gnav #fade-in li ul li a {
	visibility: hidden;
	opacity: 0;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
}
#gnav #fade-in li:hover ul li a {
	visibility: visible;
	opacity: 1;
}
#home #top-sp-nav {
	display: none !important;
}
/* @end */


/* @group content-area　 */
div#arch-area {
	background: url(../../common/images/img_arch_02.png);
	width: 100% !important;
	height: 4em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 33.0em;
}
div#content-area {
	width: 100%;
	background: #fff;
	position: relative;
}
div#main-content a {
	color: #0A58A5;
}
div#main-content a:hover {
	color: #0A58A5;
	text-decoration: none;
}
/* @end */


/* @group h1-area */
h1 {
	background-color: #1967AD;
	color: #fff;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	padding: .8em 0;
	font-size: 1.8em;
	text-align: center;
	font-weight: normal;
	margin-bottom: 2em;
}
#img-area {
	width: 100%;
	margin-bottom: 3em;
/*	height: 27.563em;*/
/*
	background: url(../images/top.jpg);  要調整 
	background-repeat: no-repeat;
	background-size: cover;
*/
	position: relative;
}

/* @group 分岐ページ独自指定 */
body#bunki h1 {
    margin-bottom: 0;
}
body#bunki div#arch-area {
top: initial;
	bottom: 0;
}
/*
body#bunki #img-area {
    margin-bottom: 2em;
}
*/
#img-area img {
    width: 100%;
}

/* @end */

/* @end */


/* group main-content */
#main-content {
	overflow: hidden;
	width: 65.5em;
	margin: 0 auto;
	padding: 0 1.5em 0 1.5em;
	line-height: 1.6;
	position: relative;
}
#main-content section {
	margin-bottom: 6.9em;
}
#main-content p {
	line-height: 2.0;
	margin-bottom: 3em;
}
#main-content figure {
	margin-bottom: 0.7em;
}
#main-content img {
	width: 100%;
	height: auto;
}
#main-content strong {
	color: #F26B2E;
}
#main-content p.lead {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 1.55em;
	margin-bottom: 0.2em;
	text-align: center;
	color: #1967AD;
	line-height: 1.6;
/*	padding-top: 1.6em;*/
}
#main-content .lead-u {
	text-align: center;
	margin-bottom: 3em;
}
#main-content .lead-u span.line {
	display: inline-block;
	width: 18%;
	border-top: 1px solid #1967AD;
}
/* @end */

/* @group heading */
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5 {
	line-height: 1.4;
}
#main-content h2 {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	margin-bottom: 1em;
	padding: 0 0 0.3em 0.7em;
	font-size: 1.75em;
	color: #000;
	position: relative;
	font-weight: normal;
}
#main-content h2::before {
	content: '';
	height: 1.1em;
	width: 0.31em;
	display: block;
	position: absolute;
	top: 0.14em;
	left: 0;
	background: #1967AD;
}
#main-content h3+div {
	margin-bottom: 3.8em;
}
#main-content h3 {
	margin-bottom: 1.3em;
	font-size: 1.2em;
	padding: 0 0 0.6em 0px;
	color: #000;
	position: relative;
	border-bottom: 1px solid #1967AD;
	font-weight: normal;
}
#main-content h4 {
	margin-bottom: 0.8em;
	font-size: 1.1em;
	color: #1967AD;
	font-weight: bold;
	font-weight: normal;
}
/* @end */

#main-content .center-position,
#main-content .center-position th,
#main-content .center-position td {
	text-align: center;
}
#main-content .right-position,
#main-content .right-position th,
#main-content .right-position td {
	text-align: right;
}
/* @group pattern1 */

div.col {
	margin-bottom: 1em;
}
#main-content p.caption {
	position: relative;
	margin: -15px 0 2em 0;
	font-size: 0.93em;
	line-height: 1.5;
}
#main-content div.pattern1 {
	margin-bottom: 5.6em;
}
/* @end */


/* @group pattern1-1 */
#main-content div.pattern1-1 {
	margin: 0 0 1.5em 0;
}
#main-content div.pattern1-1 div.left-col {
	float: left;
	width: 48.5%;
	margin-right: 3.0%;
}
#main-content div.pattern1-1 div.right-col {
	float: right;
	width: 48.5%;
}
#main-content div.pattern1-1 div.left-col p {
	margin-bottom: 0;
}
#main-content div.pattern1-1 div.right-col p {
	margin-bottom: 0;
}
/* @end */


/* @group pattern1-1-1 */
#main-content div.pattern1-1-1 {
	margin: 0 -3.030% 2.5em 0;
}
#main-content div.pattern1-1-1 div.col {
	float: left;
	width: 30.30%;
	margin-right: 3.0%;
}
#main-content div.pattern1-1-1 div.col p {
	margin-bottom: 0;
}
/* @end */


/* @group pattern1-2 */
#main-content div.pattern1-2 {
	margin: 0 0 1.5em 0;
}
#main-content div.pattern1-2 div.left-col {
	float: left;
	width: 30.3%;
}
#main-content div.pattern1-2 div.right-col {
	float: right;
	width: 66.70%;
}
#main-content div.pattern1-2 div.right-col p {
	margin-bottom: 0;
}
#main-content div.pattern2-1 div.left-col p {
	margin-bottom: 1.5em;
}
/* @end */


/* @group pattern2-1 */
#main-content div.pattern2-1 {
	margin: 0 0 2.5em 0;
}
#main-content div.pattern2-1 div.left-col {
	float: left;
	width: 66.70%;
	margin-right: 3.0%;
}
#main-content div.pattern2-1 div.right-col {
	float: right;
	width: 30.3%;
}
/* @end */


/* @group pattern1-3 */
#main-content div.pattern1-3 {
	margin: 0 0 1.5em 0;
}
#main-content div.pattern1-3 div.left-col {
	float: left;
	width: 23.5%;
	margin-right: 3.0%;
}
#main-content div.pattern1-3 div.right-col {
	float: right;
	width: 73.5%;
}
#main-content div.pattern1-3 div.right-col p {
	margin-bottom: 0;
}
/* @end */


/* @group pattern3-1 */
#main-content div.pattern3-1 {
	margin: 0 0 1.5em 0;
}
#main-content div.pattern3-1 div.left-col {
	float: left;
	width: 73.5%;
	margin-right: 3.0%;
}
#main-content div.pattern3-1 div.left-col p {
	margin-bottom: 0;
}
#main-content div.pattern3-1 div.right-col {
	float: right;
	width: 23.5%;
}
/* @end */

#main-content div.link-pattern {
	margin-bottom: 5.3em;
}

/* @group ul */
#main-content ul.list {
	margin: 0 0 3em 1em;
}
#main-content ul.list li {
	position: relative;
	list-style: none;
	margin-bottom: 10px;
	padding-left: 0px;
	line-height: 1.8;
}
#main-content ul.list li::after {
	display: block;
	content: '';
	position: absolute;
	top: 0.7em;
	left: -1em;
	width: 6px;
	height: 6px;
	background-color: #1967AD;
	border-radius: 100%;
}
#main-content ul.list ul {
	margin: 10px 0 0 17px !important;
}
#main-content ul.list li ul li {
	padding-left: 13px;
	position: relative;
}
#main-content ul.list li ul li::after {
	display: block;
	content: '';
	position: absolute;
	top: 0.7em;
	left: 0;
	width: 5px;
	height: 5px;
	background-color: #999;
	border-radius: 100%;
}
#main-content ul.list.side-list li {
	display: inline-block;
	width: 24%;
}
/* @end */


/* @group ol */
#main-content ol {
	line-height: 1.8;
	margin: 0 0 3em 0.5em;
}
#main-content ol li {
	margin-bottom: 0.5em;
}
#main-content ol li ol {
	margin: 7px 0 0 23px;
}
#main-content table ol {
	margin-bottom: 0;
}
#main-content .medical-care table {
	text-align: center;
	margin-bottom: 22px; /* 田中 */
}
#content #main-content .medical-care table {
	table-layout: fixed; /* 田中 */
}
 #content #main-content .medical-care table th:first-child{  /* 田中 */
width: 18%;
}


ol {
	counter-reset: li;    /* li のカウンタを 0 にセット */
	list-style: none;
}
ol > li:before {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	color: #404040;
	counter-increment: li;   /* li の数を一つずつ増加 */
	content: "(" counter(li) ") ";  /* ()付きで数を表示 */
}
ol > li {
	/*margin-left: -1.3em;*/
	padding-left: 1.3em;
	text-indent: -1.3em;
}
ol > li > ol {
	list-style-type: decimal;
}
ol > li > ol li:before {
	display: none;
}
ol > li > ol > li {
	margin-left: 0;
	padding-left: 0;
	text-indent: 0;
}
/* @end */


/* @group dl */
#main-content dl {
	margin-bottom: 3em;
}
#main-content dl dt {
	position: relative;
	margin-bottom: 0.5em;
	padding-left: 1.5em;
	line-height: 2.1;
	color: #1967AD;
	font-size: 1.07em;
}
#main-content dl dt:after {
	display: block;
	content: '';
	position: absolute;
	top: 0.66em;
	left: 0;
	width: 6px;
	height: 6px;
	background-color: #fff;
	border: 4px solid #1967AD;
	border-radius: 100%;
}
#main-content dl dd {
	line-height: 1.8;
}
#main-content dd.dif-d {
	padding-left: 1.6em;
	margin-bottom: 2em;
}
/* @end */


/* group link-btn */
.link-btn {
	display: block;
}
.link-btn a {
	padding-left: 20px !important;
}
.link-btn a:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7 !important;
}
#main-content ul.link-btn li {
	margin-bottom: 0.5em;
}
#main-content ul.link-btn li a {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size: 1em;
	display: inline-block;
}

#main-content ul.link-btn li a.wid {
    width: 20%;
}

#main-content .link-btn a {
	background-color: #1967AD;
	padding: 8px 35px !important;
	display: block;
	position: relative;
	text-decoration: none;
	color: #fff!important;
}
.link-btn li a::after {
	content: '';
	height: 7px;
	width: 7px;
	display: block;
	border: 2px solid #fff;
	border-top-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 15px;
	left: 18px;
}
#main-content .link-btn img.link-icon {
	height: .9em;
	margin-bottom: 2px;
	padding-left: 4px;
	vertical-align: middle;
	width: auto;
}
/* @end */

/* group link-list */
#main-content ul.link-list {
	margin-bottom: 1.5em;
}
#main-content ul.link-list li {
	margin-bottom: 15px;
}
#main-content ul.link-list li a {
	display: inline-block;
	padding-left: 17px;
	position: relative;
}
#main-content ul.link-list li a::before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 5px;
	height: 5px;
	border-right: 2px solid #1967AD;
	border-bottom: 2px solid #1967AD;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#main-content ul.link-list li a img.link-icon {
	height: 13px !important;
	padding-left: 5px;
	vertical-align: middle;
	padding-left: 5px;
	width: auto;
}
/* @end */


/* group link-anchor */
.link-anchor {
	display: block;
	margin-bottom: 2em;
}
#main-content ul.link-anchor li {
	float: left;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}
.link-anchor a {
	padding-left: 20px !important;
}

#main-content ul.link-anchor li a:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7 !important;
}

#main-content .link-anchor a {
	background-color: #1967AD;
	padding: 11px 40px !important;
	position: relative;
	text-decoration: none;
	color: #fff!important;
	display: inline-block;
}

#main-content .link-anchor a.wid{
	width: 15em;
}

.link-anchor li a::after {
	content: '';
	height: 7px;
	width: 7px;
	display: block;
	border: 2px solid #fff;
	border-top-width: 0;
	border-right-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 38%;/* 田中_数値変更*/
	left: 18px;
}
/* @end */


/* @group branch */

#main-content .branch div.pattern1-1 {
	margin-bottom: 4.4em;
}
#main-content .branch div.pattern1-1 div.left-col {
	float: left;
	width: 48.5%;
	margin-right: 3.0%;
}
#main-content .branch div.pattern1-1 div.right-col {
	float: right;
	width: 48.5%;
}
#main-content .branch .pattern1-1 .left-col a figure {
	margin-bottom: 0;
}
#main-content .branch .pattern1-1 .right-col a figure {
	margin-bottom: 0;
}
#main-content .branch .pattern1-1 .left-col a .bottom-col,
#main-content .branch .pattern1-1 .right-col a .bottom-col {
	position: relative;
	margin-top: 0.07em;
}
#main-content .branch .pattern1-1 .left-col a .bottom-col::before {
	border: 12px solid transparent;
	border-right: 12px solid #1967AD;
	border-bottom: 12px solid #1967AD;
	content: "";
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
#main-content .branch .pattern1-1 .right-col a .bottom-col::before {
	border: 12px solid transparent;
	border-right: 12px solid #1967AD;
	border-bottom: 12px solid #1967AD;
	content: "";
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
#main-content .branch .pattern1-1 .left-col a,
#main-content .branch .pattern1-1 .right-col a {
	text-decoration: none;
}
#main-content .branch .pattern1-1 .left-col a img,
#main-content .branch .pattern1-1 .right-col a img {
	border-top: 3px solid #1967AD;
}
#main-content .branch .pattern1-1 .left-col a:hover,
#main-content .branch .pattern1-1 .right-col a:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7 !important;
}
#main-content .pattern1-1 a .bottom-box {
	padding: 17px 23px;
	width: 100%;
}
#main-content h2.box-title {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	margin-bottom: .5em;
	font-size: 1.225em;
	font-weight: bold;
	padding: 0px;
	color: #0A58A5;
}
#main-content h2.box-title::before {
	content: none;
}
#main-content .branch .pattern1-1 a .bottom-box .box-p {
	margin-bottom: 0;
	font-size: 1em;
	color: #262626;
}
#main-content .branch .pattern1-1 a .bottom-col {
	position: relative;
	background-color: #EDEDED;
}
/* @ end */

#main-content div.pattern1-1-1 div.col.category {
	float: left;
	width: 30.30%;
	margin-right: 3.030%;
	font-size: 1.125em;
	height: 3.8em;
	border: 4px solid rgba(0,0,0,0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#main-content div.pattern1-1-1 div.col.category:hover {
	background-color: rgba(73,73,73,0.14);
	border: 4px solid rgba(73,73,73,0);
}
#main-content div.pattern1-1-1 div.col.category p {
	margin-bottom: 0px;
	color: #000;
}
#main-content div.pattern1-1-1 div.col.category p::before {
	content: '';
	height: 8px;
	width: 8px;
	display: block;
	border: 2px solid #0A58A5;
	border-top-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 43%;
	left: 1em;
}
/* @group table*/

.t-center {
	text-align: center !important;
}
th.t-center.wid,
td.t-center.wid {
	width: 27%;
}
#main-content table {
	margin-bottom: 30px;
	width: 100%;
}
#main-content table th {
	padding: 14px 11px;
	border: 1px solid #999999;
	background-color: rgba(10,88,166,0.2);
	text-align: left;
	color: #262626;
	font-weight: normal;
	vertical-align: middle; /* 田中 */
}
#main-content table td {
	padding: 14px 11px;
	border: 1px solid #999999;
	vertical-align: middle; /* 田中 */
}
#main-content table th.sub-head {
	background: #E5E5E5;
}
#main-content table p {
	margin-bottom: 0.5em !important;
}
#main-content table span.fax {
	margin-left:1em;
}

#main-content table ul,
#main-content table ul.list {
	margin-bottom: 20px;
}
#main-content table.table-pattern th,
#main-content table.table-pattern td {
	border: none;
	background-color: #fff;
	border-bottom: 1px solid #B2B2B2;
	text-align: left;
}
#main-content table.table-pattern th.title {
	width: 150px;
}
#main-content table.table-pattern td.info {
	width: 850px;
}
#normal .information {
	position: relative;
	overflow: hidden;
	width: 100%;/*田中 homeと数値変更*/
	margin: 0 auto;
	/*    padding: 0 1.5em 4em 1.5em;*/
	line-height: 1.6;
	background-color: #fff;/*    top: -3.5em;*/
}
#normal .information .table-pattern {
	margin-bottom: 2.2em;
	width: 100%;
}
#normal .information .table-pattern tr {
	border: none;
	background-color: #fff;
	border-bottom: 1px solid #D6D6D6;
	text-align: left;
}
#normal .information .table-pattern th.date {
	padding: 19px 11px;
	color: #262626;
	font-weight: normal;
	border-bottom: none;/*田中 homeから追記*/
	vertical-align: baseline;/*田中 homeから追記*/
}
#normal .information .table-pattern td.title {
	padding: 14px 11px;
	color: #262626;
	text-align: center;
	width: 9em;
	border-bottom: none;/*田中 homeから追記*/
	vertical-align: baseline;/*田中 homeから追記*/
}
#normal .information .table-pattern td.info {
	padding: 14px 11px;
	color: #262626;
	width: 100%; /*田中 homeから追記*/
	border-bottom: none;/*田中 homeから追記*/
}
#normal .information .table-pattern td span {
	padding: 0 1em;
	font-size: 0.83em;
	background-color: #1967AD;
	color: #fff;
	display: inline-block;
	width: 8em;
}
#normal .information .table-pattern tr:last-child {
	border: none;
}
#normal .information .table-pattern a {
	color: #262626;
	text-decoration: underline;
}
#normal .information .table-pattern a:hover {
	text-decoration: none;
}
#normal .information .table-pattern a p {
	color: #262626;
	line-height: 1.6;
	margin-bottom: 0 !important;
}
#normal .information .link-btn {
	margin: 0 auto;
	background-color: #1967AD;
	padding: 8px 35px;
	width: 13.286em;
	position: relative;
}
#normal .information .link-btn a {
	display: block;
	color: #fff;
	text-align: center;
	padding-left: 0 !important;
	text-decoration: none;
}
#normal .information .link-btn a::after {
	content: '';
	height: 7px;
	width: 7px;
	display: block;
	border: 2px solid #fff;
	border-top-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 16px;
	left: 18px;
}
#normal .information .link-btn:hover a {
	opacity: 1 !important;
}
#normal .information .link-btn:hover {
	opacity: 0.7 !important;
}
/* @end */


/* @group FAQ */
dl.qa dt {
	margin-bottom: 40px;
}
dl.qa dt {
	padding-left: 2.8em !important;
	margin-bottom: 0.8em !important;
	background: url(../images/icon_faq_q.jpg) no-repeat;
	line-height: 2.1!important;
	background-size: 30px 30px;
	background-position-y: 0.1em;
	font-size: 1.250em;
	font-weight: bold;
}
dl.qa dt::after {
	display: none !important;
}
dl.qa dd {
	padding-left: 3.0em !important;
	margin-bottom: 1.5em !important;
	background: url(../images/icon_faq_a.jpg) no-repeat !important;
	background-size: 30px 30px !important;
	padding-bottom: 1.5em!important;
	line-height: 2.0 !important;
	border-bottom: 1px solid #CFCFCF;
}
/* @end */

/* @group caution */
#main-content .caution-1,
#main-content .caution-2,
#main-content .caution-3 {
	padding-left: 2em;  /* 田中 */
	margin-bottom: 2.5em;
	position: relative;
}
#main-content .caution {  /* 田中 */
	padding-left: 1.5em;
	position: relative;/* 田中_追記 */
}
.caution-1,
.caution-2,
.caution-3 {
	text-indent: 0;
}
#main-content .caution::before {
	font-family: 'font-library' !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e905";
	color: #FA5651;
	padding-right: 4px;
	font-size: 100%;
	position: absolute;
	left: 0em;
}
#main-content .caution-1::before {
	font-family: 'font-library' !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e905""1";
	color: #FA5651;
	padding-right: 4px;
	font-size: 100%;
	position: absolute;
	left: 0em;
}
#main-content .caution-2::before {
	font-family: 'font-library' !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e905""2";
	color: #FA5651;
	padding-right: 4px;
	font-size: 100%;
	position: absolute;
	left: 0em;
}
#main-content .caution-3::before {
	font-family: 'font-library' !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e905""3";
	color: #FA5651;
	padding-right: 4px;
	font-size: 100%;
	position: absolute;
	left: 0em;
}
#main-content .caution-box {
	border: 2px solid #FF6267;
	background-color: #FFFBFB;
	padding: 1.3em;
	width: 100%;
	margin-bottom: 6.9em; /*  田中　数値変更*/
}
#main-content .caution-box .caution-title {
	margin-bottom: 10px;
	font-size: 1.250em;
	font-weight: bold;
	color: #FA5651;
}
#main-content .caution-box p {
	margin-bottom: 10px;
}
/* @end */


/* @group accodion */
#main-content .accordion1 dt {
	font-size: 1.250em;
	font-weight: bold;
	background: #F0F0F0 !important;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
#main-content .accordion1 dt::before {
	content: '';
	height: 100%;
	width: 3px;
	top: 0;
	display: block;
	position: absolute;
	left: 0;
	background: #1967AD;
}
#main-content .accordion1 dt::after {
	display: none;
}
#main-content .accordion1 dd h3 {
	font-weight: normal;
}
.accordion1 dt span {
	display: block;
	min-height: 50px;
	padding-top: 4px;
}
.accordion1 dt span.open {
	display: block;
}
.accordion1 dt:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7 !important;
}
.accordion1 dd {
	padding-top: 2.0em;
}
.accordion1 dt span.detail {
	position: absolute;
	right: 0em;
	top: 0em;
	background-color: #DBDBDB;
	padding: 0.8em 1.4em 0em 3.3em;
	font-size: 0.7em;
}
.accordion1 dt span.detail::before {
	content: '';
	height: 7px;
	width: 7px;
	display: block;
	border: 2px solid #1967AD;
	border-bottom-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 22px;
	left: 19px;
}
.accordion1 dt span.detail.open::before {
	content: '';
	height: 7px;
	width: 7px;
	display: block;
	border: 2px solid #1967AD;
	border-top-width: 0;
	border-right-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 18px;
	left: 19px;
}
/* @end */


/* @group slider */
.slider-wrap {
	margin-bottom: 6em;
}
.slider-title {
	color: #1967AD;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	padding: .7em 0;
	font-size: 1.75em;
	text-align: center;
	font-weight: normal;
	margin-bottom: 0.50em;
}
.thumb-item {
	width: 100%;
	margin: 0 auto 1.3em;
}
.slider-sub-p p {
	margin-bottom: 1.5em !important;
}
.thumb-item-nav li {
	box-sizing: border-box;
	margin: 0.42em;
}
.thumb-item-nav li:hover {
	box-sizing: border-box;
}
.thumb-item-nav li:last-child {
	margin-right: 0;
}
.thumb-item-nav .slick-prev {
	left: 12px;
	z-index: 100;
}
.thumb-item-nav .slick-slide.slick-current img {
	outline-style: solid;
	outline-color: #262626;
	outline-width: 3px;
}
.slick-prev::before,
.slick-next::before {
	font-size: 24px;
}
.slider-sub-t {
	color: #1967AD;
	font-size: 1.3em;
	padding-bottom: 0.2em;
}
.single-item .slick-prev,
.single-item .slick-prev:before,
.single-item .slick-next:before,
.single-item .slick-prev:after,
.single-item .slick-next:after {
	display: none !important;
}
.thumb-item-nav img {
	border: none;
	float: left;
	vertical-align: bottom;
}
.thumb-item-nav img:hover {
	opacity: 0.7;
}
/* @end */

/* @group breadcrumb */
.breadcrumb {
	padding: 10px 0px;
	line-height: 1.3;
	width: 1000px;
	margin: 0 auto;
	font-size: 0.688em;
}
.breadcrumb a {
	color: #333!important;
}
.breadcrumb a:hover {
	text-decoration: none;
}
.breadcrumb ul li {
	float: left;
	padding-left: 20px;
	list-style: none;
	position: relative;
	margin-bottom: 8px;
	color: #333;
}
.breadcrumb ul li:before {
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	content: "";
	display: block;
	height: 5px;
	width: 5px;
	left: 6px;
	position: absolute;
	top: 5px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.breadcrumb ul li:first-child {
	padding-left: 0;
}
.breadcrumb ul li:first-child::before {
	display: none;
}
/* @end */


/* @group footer */
#footer-area {
	width: 100%;
}
#footer-pickup-area {
	width: 100%;
	background: #E5E5E5;
	padding-top: 3.5em;
	padding-bottom: 3.5em;
}
#footer-pickup-area #footer-pickup {
	width: 1000px;
	margin: 0 auto;
}
#footer-pickup-area #footer-pickup .pattern1-1-1 {
	margin-bottom: 0;
	width: 100%;
}
#footer-pickup-area #footer-pickup .col .col-area {
	padding: 15px 0px;
}
#footer-pickup-area #footer-pickup .col img {
	float: left;
	width: 19.65em;
	border: 3px solid #fff;
}
#footer-pickup-area #footer-pickup .col img:hover {
	border: 3px solid #ccc;
}
#footer-pickup-area #footer-pickup .col p {
	line-height: 1.3;
	font-size: 1.125em;
	font-weight: bold;
	color: #1967AD;
}
#footer-pickup-area #footer-pickup .link a {
	background: #00A1A3;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 1.125em;
	color: #fff;
	text-decoration: none;
}
#footer-pickup-area #footer-pickup .link a:hover {
	background: #00A1A3;
	opacity: 0.7;
}
#footer-pickup-area div.pattern1-1-1 div.col {
	float: left;
	width: 312px;
	margin-right: 3.03%;
	margin-bottom: 0;
}
#footer-pickup-area div.pattern1-1-1 div.col:last-child {
	margin-right: 0;
}
/* @end */


/* @group banner */
#footer-bn-area {
	width: 1000px;
	margin: 0 auto;
	padding: 35px 0 17px 0;
}
#footer-bn {
	margin-right: -29px;
}
#footer-bn li {
	float: left;
	margin-right: 20px;
}
#footer-bn li:last-child {
	margin-right: 0;
}
#footer-bn li a:hover {
	opacity: 0.7;
}
#footer-bn li img {
	width: 14.68em;
}
/* @end */


/* @group footer-nav */
#footer-nav-area {
	width: 100%;
}
#footer-gnav-area {
	display: none;
}
#footer-nav {
	width: 1000px;
	margin: 0 auto;
	padding: 24px 0px;
	position: relative;
}
#footer-nav address {
	font-style: normal;
	line-height: 1.6;
	font-size: 0.875em;
	float: left;
}
#footer-nav address a {
	text-decoration: none;
	display: inline;
}
#footer-nav address span {
	font-size: 1.063em;
	font-weight: bold;
}
ul#footer-nav-list {
	position: absolute;
	top: 46px;
	right: 0px;
}
#footer-nav address img {
	float: left;
	width: 14em;
}
#footer-nav address p {
	display: inline-block;
	margin-left: 25px;
	font-size: 1em;
	color: #333;
}
ul#footer-nav-list li {
	float: left;
	border-right: 1px solid #333333;
}
ul#footer-nav-list li:first-child {
	border-left: 1px solid #333333;
}
ul#footer-nav-list li a {
	padding: 2px 17px;
	text-decoration: none;
	color: #333;
	font-size: 0.9em;
}
ul#footer-nav-list li a:hover {
	opacity: 0.7 !important;
}
#copyright {
	width: 100%;
	height: 40px;
	background-color: #1A1A1A;
	color: #CCCCCC;
	text-align: center;
	padding: 10px 10px 12px 10px;
	font-size: 0.750em;
	line-height: 2em;
}
/* @end */


/* @group pattern */
#footer-img-area {
	margin: 0;
	background-color: #fff;
}
#footer-img-area .pattern3-2:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7 !important;
}
#footer-img-area .pattern3-2 .left-col {
	float: left;
	width: 45%;
	background-color: #F39800;
	padding: 9.38em;
	position: relative;
}
#footer-img-area .pattern3-2 .right-col {
	float: right;
	height: 300px;
	width: 55%;
	background: url(../../common/images/img_welcome.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#footer-img-area .pattern3-2 .left-col img {
	position: absolute;
	top: 4rem;
	right: 5em;
	width: 20em;
}
/* @end */

/* @group GoogleMAP */
.gmap iframe {
	width: 100%;
	margin-bottom: 20px;
}
/* @end */

/* @group page-top */
#totop {
	bottom: 0px;
	display: block;
	padding: 0 0 0 16px;
	position: fixed;
	right: 0px;
	text-decoration: none;
	vertical-align: middle;
	z-index: 9999;
}
#totop:hover {
	opacity: 0.7;
}
#totop::before {
	border: 30px solid transparent;
	border-right: 30px solid #1967AD;
	border-bottom: 30px solid #1967AD;
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: 0px;
}
#totop::after {
	content: '';
	height: 10px;
	width: 10px;
	display: block;
	border: 3px solid #fff;
	border-bottom-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: relative;
	right: 10px;
	bottom: 9px;
}
/* @end */


/* TOPページ CSS ここから　*/
/*　@group fixed-bg */
#home #fixed-bg {
	width: 100%;
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	height: 40vw;
	position: relative;
}
#home #fixed-bg .copy {
	width: 65.5em;
	margin: 0 auto;
	padding: 3.6em 1.4em;
	height: 15.875em;
	position: relative;
	top: 4em;
}
#home #fixed-bg .copy p {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 1.6em;
	color: #fff;
	line-height: 2em;
	letter-spacing: 0.25em;
	z-index: 0;
}
#home .bg-wrap {
	width: 100%;
}
#home .bg-wrap > div {
	z-index: 0 !important;
	background-attachment: fixed !important;
	background-position: top center !important;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
}
#home div#arch-area {
	top: 37vw;
	position: absolute;
	width: 100%;
/*	height: 4.0em;*/
}
#home #gnav .dropmenu {
	width: 62.8em;
	border-bottom: 1px solid #ccc;
	padding: 0;
}
#home #gnav .dropmenu li {
	display: block;
}
#home #gnav .dropmenu li:nth-child(1) {
	width: 18%;
}
#home #gnav .dropmenu li:nth-child(2) {
	width: 23%;
}
#home #gnav .dropmenu li:nth-child(3) {
	width: 22%;
}
#home #gnav .dropmenu li:nth-child(4) {
	width: 20%;
}
#home div#header-nav-area {
	position: absolute;
	top: 2.6em;
	right: 1.6em;
}
#home div#header-nav-area .nav-info {
	z-index: 1;
	display: flex;
	width: 15em;
	justify-content: space-between;
}
#home #header-nav-area .nav-tell address {
	display: flex;
	justify-content: center;
}
#home #header-nav-area .nav-tell address img {
	top: .40em;
	left: -1.0em;
}
#home #header-nav-area .nav-info a {
	margin-right: 1.0em;
	z-index: 1;
}
#home #header-nav-area .nav-info a:hover {
	opacity: 0.7 !important;
}
#home #header-nav-area .nav-info a:last-child {
	margin-right: 0em;
}
#home #gnav .dropmenu li a {
	padding-bottom: 2.0em;
}
#home #main-content section {
	margin-bottom: 5.9em;
}
#home #header {
	margin: 0 auto;
	padding: 0;
	height: 2.875em;
	position: relative;
	display: flex;
	margin-bottom: 2em;
}
#home #header-logo {
	top: -0.5em;
	z-index: 10;
	margin: 0 auto;
	text-align: center;
	width: 23.5%;
}
#home #header-logo a img {
	width: 92%;
}
#home #header-nav-area .nav-tell address a {
	font-family: "Futura";
	font-size: 1.75em;
	font-style: normal;
	color: #1967AD !important;
	letter-spacing: 2px;
}
#home #header-nav-area .nav-tell address a::before {
	background: url(../images/tell.png);
}
#home #main-content p.lead {
	font-size: 1.9em;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color: #000;
	margin-bottom: 0;
	text-align: center;
	line-height: 1.6;
	padding-top: 1.9em;
}
#home #main-content p.lead-sub {
	font-size: 1.0em;
	font-family: "Century Gothic";
	color: #F68200;
	margin-bottom: 2.8em;
	text-align: center;
	line-height: 1.6;
}
#home #main-content .sub-info {
	margin-bottom: 0.5em;
	position: relative;
}
#home #main-content .sub-info .title1 {
	font-size: 1.2em;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
#home #main-content .sub-info .time {
	position: absolute;
	left: 14.7em;
	top: 2px;
	width: 55%;
}
#home #main-content .sub-info .time span {
	font-size: 0.8em;
	letter-spacing: -6px;
	margin-right: 9px;
}
#home #main-content .sub-info .title2 {
	font-size: 1.2em;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
#home #main-content .medical-care {
	margin-bottom: 1.8em;
}
#home #main-content .medical-care table {
	background-color: #1967AD;
	border: 1px solid #1967AD;
	margin-bottom: 1.8em;
}
#home #main-content .medical-care table th {
	padding: 18px 11px;
	text-align: left;
	color: #fff;
	font-weight: normal;
	border: none;
	border-bottom: 1px solid #fff;
}
#home #main-content .medical-care table td {
	color: #fff;
	font-size: 1.1em;
	border: none;
	border-left: 1px dotted #fff;
	border-bottom: 1px solid;
}
#home #main-content .medical-care table td.circle {
	font-size: 1.2em;
}
#home #main-content .medical-care img {
	width: 100%;
}
#home #main-content .content {
	margin-bottom: 1.8em;
	text-align: center;
	padding: 1.90em 20px;
	border: 1px solid #ccc;
	margin-bottom: 1.8em;
}
#home #main-content .content address div {
	display: flex;
	justify-content: center;
}
#home #main-content .content address p {
	font-style: normal;
}
#home #main-content .content address div img {
	width: 1.5em;
	height: 1.5em;
	margin-right: .5em;
	top: 2.30em;
	left: 3.5em;
	margin-top: 1.2em;
}
#home .content address div a { /*田中*/
	font-family: "Futura";
	font-size: 2.4em;
	font-style: normal;
	color: #1967AD !important;
	letter-spacing: 2px;
	text-decoration: none;
}
#home #main-content .content address div a span {
	border-bottom: 1px solid;
}
#home #main-content .content address a::before {
	background: url(../images/tell.png);
	padding: 1em;
	display: block;
}
#home #main-content .content img {
	width: 100%;
}
#home #main-content .link-btn {
	display: flex;
	justify-content: space-between;
}
#home #main-content ul.link-btn li {
	display: block;
	width: 13.286em;
	text-align: center;
}
#home #main-content ul.link-btn li a {
	display: block;
}
#home #bak-img-area {
	width: 100%;
	background: url(../images/middle.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	height: 31.2em;
}
#home #info-area {
	width: 100%;
	background-color: #E5E5E5;
}
#home .information {
	position: relative;
	overflow: hidden;
	width: 62.36em;
	margin: 0 auto;
	padding: 0 1.5em 4em 1.5em;
	line-height: 1.6;
	background-color: #fff;
	top: -3.5em;
}
#home .information p.lead {
	font-size: 1.9em;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color: #000;
	margin-bottom: 0;
	text-align: center;
	line-height: 1.6;
	padding-top: 1.9em;
}
#home .information p.lead-sub {
	font-size: 1.0em;
	font-family: "Century Gothic";
	color: #F68200;
	margin-bottom: 1.8em;
	text-align: center;
	line-height: 1.6;
}
#home .information .table-pattern {
	margin-bottom: 2.2em;
	width: 100%;
}
#home .information .table-pattern tr {
	border: none;
	background-color: #fff;
	border-bottom: 1px solid #D6D6D6;
	text-align: left;
}
#home .information .table-pattern th.date {
	padding: 19px 11px;
	color: #262626;
	font-weight: normal;
}
#home .information .table-pattern td.title {
	padding: 14px 11px;
	color: #262626;
	text-align: center;
	width: 9em;
}
#home .information .table-pattern td.info {
	padding: 14px 11px;
	color: #262626;
}
#home .information .table-pattern td span {
	padding: 0 1em;
	font-size: 0.83em;
	background-color: #1967AD;
	color: #fff;
	display: inline-block;
	width: 8em;
}
#home .information .table-pattern tr:last-child {
	border: none;
}
#home .information .table-pattern a {
	color: #262626;
	text-decoration: underline;
}
#home .information .table-pattern a:hover {
	text-decoration: none;
}
#home .information .table-pattern a p {
	color: #262626;
}
#home .information .link-btn {
	margin: 0 auto;
	background-color: #1967AD;
	padding: 8px 35px;
	width: 13.286em;
	position: relative;
}
#home .information .link-btn a {
	display: block;
	color: #fff;
	text-align: center;
	padding-left: 0 !important;
	text-decoration: none;
}
#home .information .link-btn a::after {
	content: '';
	height: 7px;
	width: 7px;
	display: block;
	border: 2px solid #fff;
	border-top-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 16px;
	left: 18px;
}
#home .information .link-btn:hover a {
	opacity: 1 !important;
}
#home .information .link-btn:hover {
	opacity: 0.7 !important;
}
#home #footer-pickup-area {
	padding-top: 0;
}
/* @end */


/* レスポンシブ対応　---　ここから　--- */

@media screen and (min-width: 669px) {
#gnav > ul {
	display: block !important;
}
}

@media screen and (max-width: 668px) {
body {
	min-width: 100%;
	font-size: 0.9em;
	min-width: 100%;
}
a[href^="tel:"] {
	cursor: default;
	text-decoration: underline;
}
hr {
	margin: 1em -1000px;
}
.inner {  /*余白調整*/
	margin-bottom: 3em; /*田中*/
}
.w30-sp{
	width: 30% !important;
}
/* @group header */
#header-area {
	width: 100%;
	height: 5.5em;
}
#header {
	width: 100%;
	height: 5.5em;
	padding: 0;
	z-index: 1;
	background-color: #fff;
}
#header a {
	text-decoration: none;
}
#header-copy {
	display: none!important;
}
#header-logo-area {
	width: 0%;
}
#header-logo {
	width: 13.0em;
}
#header-logo img {
	width: 100%;
	height: auto;
}
#header-nav-area {
	display: none;
}
/* @end */


/* @group gnav */
#gnav {
	max-width: none;
	margin: 0;
}
#gnav p#toggle-nav {
	float: right;
	height: 5em;
	width: 5em;
	display: block;
	position: absolute;
	top: -1.6em;
	right: 1.0em;
	cursor: pointer;
	padding-top: 34px;
	font-size: 0.5em;
	text-align: center;
	font-weight: bold;
	margin-top: -5em;
	color: #1967AD;
}
#gnav .toggle-menu::before {
	content: '';
	height: 3px;
	width: 20px;
	background: #1967AD;
	display: block;
	position: absolute;
	top: 10px;
	left: 13px;
	box-shadow: 0 8px #1967AD, 0 16px #1967AD;
	-webkit-box-shadow: 0 7px #1967AD, 0 14px #1967AD;
	-moz-box-shadow: 0 8px #1967AD, 0 16px #1967AD;
}
#gnav #fade-in {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	z-index: 8888 !important;
	width: 100% !important;
	border-top: 1px solid #B2B2B2;
	background: #0D3D8B;
	opacity: 0.95;
	padding: 0 !important;
}
/* @end */


/* @group contet-area */
	
/* @group 分岐ページ独自指定 x
body#bunki div#arch-area {
top: inherit;
	bottom: 0;
height: 2em;
}*/

/* @end */
	

#h1-area {
	width: 100%;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 1em;
}
#img-area {
margin-bottom: 2em;
}

/*#img-area {
	width: 100%;
	height: 17em;
	background: url(../images/top_sp.png); 田中0323
	background-repeat: no-repeat;
	background-size: cover;

}*/
div#arch-area {
	background: url(../../common/images/img_arch_sp.png);
	width: 100% !important;
	height: 2em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 19.9em;
}
div.col {
	margin-bottom: 3em;
}
#main-content {
	width: 100%;
	background: #fff;
	padding: 0 1.2em 0 1.2em;
	overflow: hidden;
}
#main-content section {
	margin-bottom: 3em;
}
#main-content p {
	margin-bottom: 2.3em;
	line-height: 1.9em;
	font-size: 0.98em;
}
#main-content p.lead {
	font-size: 1.15em;
/*	padding-top: 1.0em;*/
}
#main-content .lead-u span.line {
	width: 28%;
}
#main-content h2,
 #main-content h3,
 #main-content h4 {
	font-weight: normal;
}
#main-content h2 {
	font-size: 1.35em;
	margin-bottom: 0.65em;
}
#main-content h3 {
	font-size: 1.1em;
	margin-bottom: 1.0em;
}
#main-content h4 {
	font-size: 1.05em;
	margin-bottom: 0.5em;
}
#main-content img {
	width: 100%;
	height: auto;
}
#main-content figure {
	margin-bottom: 0.8em;
}
#main-content h3 > span.caution {  /* 田中 */
	display: block;
	margin-bottom: 0px;
	margin-left: 0;
	font-size: 0.8em;
}
#main-content div.pattern1-1,
 #main-content div.pattern1-2,
 #main-content div.pattern2-1,
 #main-content div.pattern1-1-1,
 #main-content div.pattern1-3,
 #main-content div.pattern3-1 {
	margin: 0 0 2em 0;
}
#main-content div.pattern1-1 div.left-col,
 #main-content div.pattern1-1 div.right-col,
 #main-content div.pattern1-2 div.left-col,
 #main-content div.pattern1-2 div.right-col,
 #main-content div.pattern2-1 div.left-col,
 #main-content div.pattern2-1 div.right-col,
 #main-content div.pattern1-1-1 div.col,
 #main-content div.pattern1-3 div.left-col,
 #main-content div.pattern1-3 div.right-col,
 #main-content div.pattern3-1 div.left-col,
 #main-content div.pattern3-1 div.right-col {
	float: none;
	width: 100%
}
/* @end*/

#main-content h3+div {
	margin-bottom: 0.5em;
}
#main-content div.pattern1 {
	margin-bottom: 3.0em;
}
#main-content div.list-pattern .pattern1-1 {
	margin-bottom: 0em;
}
#main-content div.pattern1-1-1 {
	margin-bottom: 0 !important;
}
#main-content div.pattern1-1-1 .col {
	margin-bottom: 2.5em;
}
#main-content div.pattern1-3,
 #main-content div.pattern3-1 {
	margin-bottom: 2.5em;
}
#main-content div.link-pattern {
	margin-bottom: 3.3em;
}
#main-content div.list-pattern .left-col {
	margin-left: 1em;
}
#main-content div.list-pattern .right-col {
	margin-left: 1em;
}

/* @group link-bnt */
#main-content ul.link-list li {
	margin-bottom: 11px;
}
#main-content ul.link-btn li a {
	width: 100%;
	text-align: center;
}
#main-content ul.link-btn li a.wid {
    width: 100%;
}
#main-content ul.link-anchor {
　/*田中*/
-webkit-flex-direction: column;
	flex-direction: column;
}
#main-content ul.link-anchor li {
	width: 100%;
	text-align: center;
	margin-right: 0;
	font-size: 0.89em;
	margin-bottom: 1.0em;
}
#main-content ul.link-anchor li a {
	font-size: 1.1em;
	width: 100%;
}
#main-content .link-anchor a.wid {
    width: 100%;
}
#main-content .pattern1-1 .left-col .link-btn {
	margin-bottom: 3em;
}
#main-content h2 + div.link-pattern {
	margin-bottom: 0;
}
#main-content h2 + div.link-pattern .pattern1-1 {
	margin-bottom: 1.5em;
}
#main-content ol li {
	margin-bottom: 0.3em;
}
#contact-list .pattern1-1 .left-col { /*田中*/
	margin-bottom: 2em;
}
/* @end */


/* @group-branch */
#main-content .branch div.pattern1-1 a {
	text-decoration: none;
}
#main-content .branch div.pattern1-1 {
	margin-bottom: 0.3em;
}
#main-content .branch div.pattern1-1 img {
	width: 100%
}
#main-content .branch div.pattern1-1 div.left-col,
 #main-content .branch div.pattern1-1 div.right-col {
	float: none;
	width: 100%;
	margin-bottom: 2em;
}
#main-content .pattern1-1 a .bottom-box {
	padding: 0.8em 1.4em;
}
#main-content h2.box-title {
	font-size: 1.2em;
	margin-bottom: 0.3em;
}
#main-content .branch .pattern1-1 a .bottom-box .box-p {
	line-height: 1.7em;
}
/* @end */


#main-content div.pattern1-1-1 a {
	text-decoration: none;
	display: block;
}
#main-content div.pattern1-1-1 a .col.category {
	float: none;
	width: 100%;
	margin-bottom: 1em;
}
#main-content table.table-pattern th.title {
	width: 30em;
}
	#main-content table span.fax {
	margin-left:0em;
	display: block;
}

#main-content ul.list li {
	margin-bottom: 0.4em;
}
#main-content ul.list li ul li {
	margin-bottom: 0.3em;
}
#main-content ul.list.side-list li {
	display: block;
	width: 100%;
}
#main-content dl dd {
	line-height: 1.8;
}
#main-content dt.dif-t {
	margin-bottom: 0.3em;
}
#main-content dl dd.dif-d {
	margin-bottom: 1.5em;
	padding-top: 0!important;
	padding-left: 1.4em;
}
#main-content dl dt {
	position: relative;
	margin-bottom: 0em;
	padding-left: 1.3em;
	line-height: 2.1;
	color: #1967AD;
	font-size: 1.07em;
}
#main-content dl dt:after {
	display: block;
	content: '';
	position: absolute;
	top: 0.78em;
	left: 0;
	width: 4px;
	height: 4px;
	background-color: #fff;
	border: 3px solid #1967AD;
	border-radius: 100%;
}
#main-content .caution {
	padding-left: 1.2em; /* 田中 */
}

/* @group accodion */
#main-content .accordion1 dt {
	font-size: 1.250em;
	font-weight: bold;
	background: #F0F0F0 !important;
	margin-bottom: 0.5em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
#main-content .accordion1 dd {
	padding-top: 1.5em;
}
#main-content .accordion1 dt::before {
	content: '';
	height: 100%;
	width: 3px;
	display: block;
	position: absolute;
	left: 0;
	background: #1967AD;
}
#main-content .accordion1 dt::after {
	display: none;
}
#main-content .accordion1 dd h3 {
	font-weight: normal;
	padding-top: .5em;
}
.accordion1 dt span {
	display: block;
	min-height: 0;
	padding-top: 7px;
}
.accordion1 dt span {
	display: block;
}
.accordion1 dt:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7 !important;
}
.accordion1 dd {
	display: block;
	display: none;
}
.accordion1 dt span.detail {
	position: absolute;
	right: 0em;
	top: 0em;
	background-color: #ccc;
	padding: 0.9em 19px 0.73em 41px;
	font-size: 0.7em;
}
.accordion1 dt span.detail::before {
	content: '';
	height: 7px;
	width: 7px;
	display: block;
	border: 2px solid #1967AD;
	border-top-width: 0;
	border-right-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 16px;
	left: 16px;
}
.accordion1 dt span.detail.open::before {
	content: '';
	height: 7px;
	width: 7px;
	display: block;
	border: 2px solid #1967AD;
	border-bottom-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 20px;
	left: 16px;
}
/* @end */
	
/* @group tableスクロール */
#main-content div.scroll { /* 田中 */
	white-space: nowrap;
	overflow-x: scroll;
	margin-bottom: 30px;

}
div.scroll::-webkit-scrollbar {
  height: 5px;
}
div.scroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #eee;
}
div.scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #666;
}
/* @end */
	
	
/* @group テーブル(お知らせ用) */
#normal .information {
	width: 100%;
	padding-bottom: 1.4em;
}
#normal .information p.lead {
	font-size: 1.55em;
	padding-top: 1.0em;
}
#normal .information p.lead-sub {
	font-size: .8em;
	line-height: 1.2;
	margin-bottom: .6em;
}
#normal .information .table-pattern tr {
	margin-bottom: 10em!important;
}
#normal .information .table-pattern th.date {
	padding: 0;
	display: inline-block;
}
#normal .information .table-pattern th.date:first-child {
	padding-top: 1.2em;
}
#normal .information .table-pattern td.title {
	padding: 0;
	display: inline-block;
	width: 7.5em;
}
#normal .information .table-pattern td.info {
	padding: 11px 0 19px;
	display: block;
	width: 100%;
}
#normal .information .table-pattern td span {
	padding: 0.14em 0.1em;
	font-size: 0.74em;
	width: 8em;
	vertical-align: super;
}
#normal .information .table-pattern {
	margin-bottom: 0.8em;
}	
/* @end */

#content #main-content .medical-care table{
    width: 200%;
}
#content #main-content .medical-care table th:first-child {
    width: 14%;
}
.breadcrumb {
	width: 100%;
}

/* @group footer */
#footer-area {
	width: 100%;
}
#footer-pickup-area {
	width: 100%;
	padding: 1.0em 1.2em;
}
#footer-pickup-area #footer-pickup {
	width: 100%;
	margin: 0 auto;
}
#footer-pickup-area div.pattern1-1-1 div.col {
	float: none;
	display: inline;
	text-align: center;
	padding: 1.2em;
}
#footer-pickup-area #footer-pickup .col img {
	float: none;
	width: 90%;
}
#footer-pickup-area #footer-pickup .col img:hover {
	border: none;
	margin: 0;
}
#footer-img-area .pattern3-2 .left-col {
	float: none;
	width: 100%;
	text-align: center;
	padding: 1.5em;
}
#footer-img-area .pattern3-2 .right-col {
	float: none;
	width: 100%;
	height: 8.5em;
	background-size: cover;
}
#footer-img-area .pattern3-2 .left-col img {
	position: static;
	width: 70%;
}
/* @end*/


/* @group footer-bn-area */
#footer-bn {
	width: 100%;
}
#footer-bn-area {
	width: 100%;
	padding: 1em 1em 0.2em 1em;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
#footer-bn li {
	width: 47.72%;
	float: left;
	margin: 0 13px 13px 0;
}
#footer-bn li:nth-child(2n) {
	margin-right: 0;
}
#footer-bn li img {
	width: 100%;
	height: auto;
}
/* @end */


/* @group footer-nav-area */
#footer-nav-area {
	display: block;
}
#footer-nav {
	width: 100%;
	padding: 0;
}
ul#footer-nav-list {
	width: 100%;
	background: #E5E5E5;
	position: relative;
	top: 0;
	right: 0;
}
ul#footer-nav-list li {
	float: none;
	border: none;
	border-bottom: 1px solid #ccc;
}
ul#footer-nav-list li:first-child {
	border-left: none;
}
ul#footer-nav-list li a {
	color: #000;
	display: block;
	padding: 17px 16px !important;
	text-decoration: none !important;
}
div#footer-nav address {
	font-style: normal;
	line-height: 1.6;
	font-size: 0.813em;
	float: left;
	padding: 1em;
	background-color: #fff;
}
div#footer-nav address img {
	width: 34%;
	margin-right: 10px;
	margin-bottom: 10px;
}
div#footer-nav address p {
	margin-left: 0;
	font-size: 0.755em;
	line-height: 1.4em;
}
/* @end */

/* @group totop */
#totop::before {
	border: 28px solid transparent;
	border-right: 28px solid #1967AD;
	border-bottom: 28px solid #1967AD;
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: 0px;
}
#totop::after {
	content: '';
	height: 10px;
	width: 10px;
	display: block;
	border: 2px solid #fff;
	border-bottom-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: relative;
	right: 10px;
	bottom: 9px;
}
#copyright small {
	width: 100%;
	font-size: 0.1em;
}
/* @end */


/* @group slider */
.slider-wrap {
	margin-bottom: 3em;
}
.slider-title {
	padding: 0.2em;
	font-size: 1.5em;
}
.slider-sub-t {
	font-size: 1.2em;
}
.slick-prev:before,
 .slick-next:before,
 .slick-prev:after,
 .slick-next:after {
	display: none !important;
}
.thumb-item-nav li {
	margin-right: 0.4em;
	margin-left: 0.4em;
}
.slick-prev:before {
	top: 9px !important;
	left: 9px !important;
}
.slick-next:before {
	top: 9px !important;
	left: 9px !important;
}
.slick-prev:after {
	width: 25px !important;
	height: 25px !important;
	top: 29em !important;
}
.slick-next:after {
	width: 25px !important;
	height: 25px !important;
	top: 1em !important;
}
.thumb-item-nav li:hover {
	border: none;
}
.thumb-item-nav img:hover {
	border: none;
	margin: 0 !important;
	width: 100% !important;
}
#copyright {
	font-size: 0.5em;
}
/* @end */


/* @Google MAP */
.gmap iframe {    /* 田中 */
	height: 400px;
}
/* @end */

#main-content div.scroll table { /* 田中 */
	margin-bottom: 0;
}

	
/* TOPページ SP CSS ここから*/
#home .bg-wrap {
	width: 100%;
}
#home .bg-wrap > div {
	z-index: 0 !important;
	background-attachment: local !important;
	background-position: top center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
#home #fixed-bg .copy {
	width: 100%;
	padding: 2.0em 1.4em;
	font-size: 0.75em;
	top: 0;
}
#home #fixed-bg .copy p {
	font-size: 1.3em;
	font-weight: 700;
}
#home #fixed-bg {
	height: 19.1em;
}
#home .bg-wrap::before {
	height: 130%;
}
#home div#arch-area {
	top: 17.5em;
/*	height: 2em;*/
}
#home #top-sp-nav {
	width: 100%;
	padding: 0.7em 1em 0.8em 1.5em;
	display: block !important;
	flex-wrap: wrap;
	text-align: center;
	background-color: #fff;
}
#home #top-sp-nav li {
	text-decoration: none;
	font-size: .95em;
	border: 1px solid #ccc;
	width: 48%;
	margin-right: 4%;
	margin-bottom: 1em;
	height: 39%;
	float: left;
	position: relative;
}
#home #top-sp-nav li::before {
	border: 6px solid transparent;
	border-right: 6px solid #1967AD;
	border-bottom: 6px solid #1967AD;
	content: "";
	display: block;
	position: absolute;
	right: -1px;
	bottom: -1px;
}
#home #top-sp-nav li a {
	display: block;
	width: 100%;
	padding: 1.4em 0em;
	text-decoration: none;
	font-size: 3.8vw;
}
#home #top-sp-nav li:nth-child(2) {
	margin-right: 0;
}
#home #top-sp-nav li:nth-child(4) {
	margin-right: 0;
}
#home #main-content p.lead {
	padding-top: 0;
	font-size: 1.50em;
}
#home #header-logo {
	width: 10.8em;
	top: -0.7em;
	text-align: center;
	float: none;
	margin: 0 auto;
	margin-bottom: 0.5em;
}
#home #main-content p.lead-sub {
	font-size: .8em;
	line-height: 1.0em;
	margin-bottom: 2.1em;
}
#home #main-content .sub-info .time {
	position: initial;
	font-size: 3.0vw;
	width: 60%;
	text-align: right;
	line-height: 2.2em;
}
#home #main-content .sub-info .title1 {
	font-size: 4.3vw;
	width: 45%;
}
#home #main-content .sub-info .title2 {
	font-size: 4.3vw;
}
#home #main-content .medical-care {
	margin-bottom: 1.0em;
}
#home #main-content ul.link-btn li {
	margin-right: 0.7em;
	font-size: .8em;
	text-align: center;
	width: 50%;
	text-decoration: none;
}
#home #main-content ul.link-btn li:nth-child(2),
 #home #main-content ul.link-btn li:nth-child(4) {
	margin-right: 0;
}
#home #main-content ul.link-btn li a {
	display: block;
	padding: 8px 0 !important;
}
#home #main-content .pattern1-1 .left-col .link-btn {
	margin-bottom: 2.4em;
}
#home #main-content .content {
	margin-bottom: 1.1em;
	padding: 1.30em 20px;
}
#home #main-content .content p {
	font-size: 3.2vw;
}
#home #main-content .content address div img {
	width: 1.2em;
	height: 1.2em;
	margin-top: 0.9em;
}
#home #main-content .content address div a {
	font-size: 1.8em;
	margin-bottom: .3em;
}
#home #main-content section {
	margin-bottom: 2.8em;
}
#home #main-content table td {
	padding: 10px 6px;
}
#home #main-content .medical-care table th {
	padding-left: 18px 10px;
	font-size: .9em;
	padding: 11px 6px;
}
#home #main-content .medical-care table td {
	font-size: 1.0em;
}
#home #bak-img-area {
	background: url(../images/middle_sp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 70% center;
	height: 17.4em;
}
#home #info-area {
	width: 100%;
	background: #E5E5E5;
	padding: 0 1.2em 0 1.2em;
}
#home .link-btn li a::after {
	content: '';
	height: 5px;
	width: 5px;
	display: block;
	border: 2px solid #fff;
	border-top-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 14px;
	left: 8px;
}
#home .information {
	width: 100%;
	padding-bottom: 1.4em;
}
#home .information p.lead {
	font-size: 1.55em;
	padding-top: 1.0em;
}
#home .information p.lead-sub {
	font-size: .8em;
	line-height: 1.2;
	margin-bottom: .6em;
}
#home .information .table-pattern tr {
	margin-bottom: 10em!important;
}
#home .information .table-pattern th.date {
	padding: 0;
	display: inline-block;
}
#home .information .table-pattern th.date:first-child {
	padding-top: 1.2em;
}
#home .information .table-pattern td.title {
	padding: 0;
	display: inline-block;
	width: 7.5em;
}
#home .information .table-pattern td.info {
	padding: 11px 0 19px;
	display: block;
	width: 100%;
}
#home .information .table-pattern td span {
	padding: 0.14em 0.1em;
	font-size: 0.74em;
	width: 8em;
	vertical-align: super;
}
#home .information .table-pattern {
	margin-bottom: 0.8em;
}
#home .information .link-btn {
	padding: 6px 35px;
	width: 12.06em;
	margin-bottom: 1.5em;
}
#home .information .link-btn a::after {
	top: 14px;
}
#home #footer-area {
	position: relative;
}
#home footer {
	position: absolute;
	top: -4em;
}
#home #footer-pickup-area {
	width: 100%;
	padding: 1.0em 1.2em;
}
#home #footer-pickup-area div.pattern1-1-1 div.col {
	float: none;
	display: block;
	text-align: center;
	padding: .4em 0;
	margin-right: 0;
	width: 100%;
}
#footer-pickup-area #footer-pickup .col img {
	width: 100%;
}
.sp-img {
	border: none !important;
}
#home div#content-area {
	position: initial;
}
#header-area {
	width: 100%;
	height: auto;
	background-color: #fff;
}
#home #header {
	height: auto;
	justify-content: normal;
	margin-bottom: .6em;
}
#home #main-content .sub-info {
	margin-bottom: 0.5em;
	position: relative;
	display: flex;
	justify-content: space-between;
}
}
